@page "/"

<!DOCTYPE html>
<html>
<head>
        <link href="/css/login.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="topnav">
<a><h1>DlvrMe-Login</h1></a>
</div>
<body>

 <br>
 <br>
 <br>
 <br>
<form>
<div class="card">
  <div class="container">
    <label for="uname"><h3><b>Username</b></h3></label>
    <input type="text" placeholder="Enter Username" required>

    <label for="psw"><h3><b>Password</b></h3></label>
    <input type="password" placeholder="Enter Password"  required>
    <div class="wrapper">
    <button class="btn"type="submit">Login</button>
    </div>
    <br>
    <br>
    <a href="/signup">Not a user? Signup here</a>
  </div>
  </div>

</form>

</body>
</html>


@code {

}